name: Torch-Toolbox-CI

on: [push, pull_request]

jobs:
  build:
    name: Test task.
    runs-on: ubuntu-18.04
    steps:
      - name: Install Pytorch
        run: |
          conda install -y pytorch torchvision cpuonly -c pytorch \
          && conda clean --all --yes \
          && usr/share/miniconda/bin/pip install -y opencv-python

      - name: Install dependence
        run: |
          conda install -y tqdm pyarrow six python-lmdb pytest scikit-learn \
          && conda clean --all --yes \
          && conda install -c conda-forge opencv
      - name: Checkout
        uses: actions/checkout@master

      - name: Run test
        run: |
          /usr/share/miniconda/bin/pytest tests/